
# Datasets and Large Files
Multiband WiFi Passive sensing/
20181109/
20181211/
features_processed/
processed_files/
Widar-dataset-classroom/
Widar-dataset-office/
Device-free_RF_Human_Sensing_Datasets-master/
*.csv
*.mat
*.pkl

# Python / Jupyter Ignores
__pycache__/
*.pyc
.ipynb_checkpoints/
Efficient_6-GHz_Wi-Fi-Based_Occupancy_Detection_Channel_Model-Informed_Feature_Engineering_and_Random_Forest_Optimization.pdf
README_IEEE_DataPort-widar-3.0.pdf

# Demo and Simulation Scripts
hackathon_demo.py
setup_wizard_cli.py
rf_physics_sim.py
proposal points.pdf
5G Innovation Hackathon 2026 - Imporant Proposal Points.docx
Hackathon_Proposal.tex
temp.py
temp.txt
